
button,input{
	padding: 8px 10px;
	border-radius: 2px;
	font-size: 16px;
	line-height: 1.12;
}
input{
	border: 1px solid #3eaf7c;
}
button{
	background: #3eaf7c;
	color: #fff;
	border: none
}
.flex{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{
  color: #a8d1be;
  font-size: 14px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #666;
  font-size: 16px;
}
//@import '~vssue/src/styles/index';
.navbar {
  /* 特定页面的 CSS */
  //background: #e2e0e2;
  /* Firefox */
    //background-image: -moz-linear-gradient(top, #e8e6e8, #d3d1d3); 
	 /* Saf4+, Chrome */
    //background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e6e8), color-stop(1, #d3d1d3));
    border-bottom: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	.links{
		background-color: transparent;
	}
	a:hover{
		//color: rgba(255,255,255,.8)
	}
}
div[class*="language-"]{
	
}
div[class*="language-"]{
	border-radius: 4px;
	&.line-numbers-mode{
		&::after,
		.line-numbers-wrapper{
			width: 2.5rem;
		}
		&::after{
			background-color: #094050;
		}
		pre{
			padding-left: 3rem;
			background-color:#093444
		}
	}
	
}
.vuepress-plugin-demo-block__app{
	position: relative;
	&::after{
		content: 'vue-demo'
		position: absolute;
		font-size: 1.2em;
		color: #eee;
		right :0;
		transform: rotate(40deg)
		top: 30px;
		opacity :0.5
	}
}

.page{
	.vuepress-plugin-demo-block__wrapper{
		div{
			box-sizing: inherit;
		}
		margin-bottom: 10px;
		.vuepress-plugin-demo-block__code{
			background-color:transparent
		}
		.vuepress-plugin-demo-block__display{
			padding: 0.5rem;
		}
		.vuepress-plugin-demo-block__footer{
			&:hover{
				background-color: #f4f6f8
			}
			.vuepress-plugin-demo-block__jsfiddle,
			.vuepress-plugin-demo-block__codepen{
				top: 6px;
			}
			.vuepress-plugin-demo-block__expand{
				width: 100%;
				&::before,
				&::after{
					transition: all 0.5s;
				}
				&::after{
					content: "view-source";
					width: 100px;
					position: absolute;
					top :11px;
					color: #ccc;
					opacity :0
				}
			}
		}
		.vuepress-plugin-demo-block__show-link{
			.vuepress-plugin-demo-block__expand{
				&::after{
					content: "hide-source";
				}
			}
		}
		&:hover{
			.vuepress-plugin-demo-block__footer{
				width: 100%;
				.vuepress-plugin-demo-block__expand{
					&::before,
					&::after{
						margin-left: -42px;
					}
					&::after{
						opacity :1
					}
				}
				&:hover{
					.vuepress-plugin-demo-block__expand::after{
						color: #3eaf7c;
					}
				}
			}
			
		}
	}
}


@media (max-width: 719px) {
	.theme-container{
		.navbar{
			height:2.8rem;
			line-height: 1.4rem;
			background:#fff;
			padding:.5em 1em .5em 2.5em;
			box-shadow: 0 0 5px rgba(0,0,0,0.2);
			width: 100%;
			box-sizing: border-box;
			.sidebar-button {
				display: block;
				width: 1rem;
				height: 1rem;
				top: .3rem;
				left: .5rem;
				.icon{
					width: 1rem;
					height: 1rem;
				}
			}
			.logo{
				height 1.8em
			}
			.links{
				background-color: transparent;
				position: absolute;
				top: .3rem;
				font-size: .92rem;
				right :0.7rem;
				padding-left: 0;
			}
			.site-name{
				font-size:.9rem;
			}
			.search-box{
				input{
					left: 0;
					&:focus{
						left: 0;
					}
				}
			}
		}
	}
	
	.sidebar {
		top: 2.8rem;
		padding-top: 0;
		box-shadow: 0 10px 10px rgba(0,0,0,.2);
		z-index 20;
		transform: translateX(-115%);
		border: none;
	}
	.sidebar-mask{
		background: rgba(0,0,0,.24)
	}
	
}

@media (max-width: 419px) {
	.theme-default-content {
		&:not(.custom){
			padding: .8rem;
		}
		div[class*="language-"]{
			margin: 0 -.4rem;
			border-radius: 3px;
		}
	}

}

//评论插件样式
.vssue{
	padding:0;
	.vssue-header .vssue-header-powered-by{
		display: none
	}
	.vssue-pagination {
		flex-direction:row;
		.vssue-pagination-page{
			margin: 0
		}
	}
	.vssue-comments{
		.vssue-comment{
			position :relative;
			.vssue-comment-avatar{
				position: absolute;
				height :32px;
				left 5px;
				top :6px;
				img {
					height: 100%;
					width: 32px;
					border-radius: 20px;
				}
			}
			.vssue-comment-body{
				margin: 0;
				.vssue-comment-header{
					.vssue-comment-author{
						padding-left: 30px;
					}
				}
			}
		}	
	}
}

//scrollbar style
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(200,200,215,.3); /* or add it to the track */
  //background-color: #b4c7d0; /* or add it to the track */
}

::-webkit-scrollbar-thumb {
  background: #0b6182;
  border-radius: 3px;
}
::-webkit-scrollbar-corner{
  background-color: transparent; /* or add it to the track */
}

select{
//   appearance:none;
//   -moz-appearance:none;
//   -webkit-appearance: none;
  height: 26px;
  line-height: 26px;
  border: 1px solid #929e9e;
  
  padding: 2px;
  display: inline-block;
  box-sizing: content-box;
  position: relative;
  padding-right: 20px;
}
select::after{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  top: 0;
  border: 10px solid;
  background: #0b6182;
  border-color: transparent transparent #42b983 ;
  z-index: 999;
}
select option{
  padding: 2px;
  -webkit-appearance: none;
}
